@import 'open-props/open-props.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

:root,
:root[data-theme='light'] {
	--brand: var(--blue-9);

	--text: var(--gray-12);
	--text-muted: var(--blue-11);

	--surface-1: var(--gray-4);
	--surface-2: var(--gray-5);
	--surface-3: var(--gray-6);
}

:root[data-theme='dark'] {
	--brand: var(--blue-4);

	--text: var(--gray-3);
	--text-muted: var(--gray-6);

	--surface-1: var(--gray-12);
	--surface-2: var(--gray-10);
	--surface-3: var(--gray-9);
}

html {
	color: var(--text);
}

a,
a:visited {
	color: var(--text-muted);
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

input[type='text'],
select {
	padding: 0.5rem;
	border: 1px solid var(--text);
	background-color: var(--surface-2);
	color: var(--text);
	caret-color: var(--text);
	border-radius: 0.25em;
	stroke: var(--text);
}

input[type='text']:active,
input[type='text']:focus {
	outline: 5px solid var(--brand);
}

button {
	border: none;
	background-color: var(--surface-2);
	color: var(--text-3);
	font-weight: 300;
	text-shadow: none;
	padding: 0.5rem;
	border-radius: 0.25em;
}

button:active {
	box-shadow: inset 0.5rem var(--surface-1);
	background-color: var(--surface-1);
	color: var(--text);
	outline: 5px solid var(--text);
}

table {
	border-radius: 0;
	border: 0;
	border-collapse: collapse;
}

tr {
	border: 0;
}

tr:hover {
	background-color: var(--surface-2);
}

th {
	border-bottom: 1px solid var(--brand);
}
