@import 'open-props/open-props.min.css';
@import 'open-props/normalize.min.css';
@import 'open-props/buttons.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

:root,
:root[data-theme='light'] {
	--brand: var(--blue-4);

	--text-1: var(--gray-9);
	--text-2: var(--gray-6);
	--text-3: var(--gray-3);

	--surface-1: var(--gray-3);
	--surface-2: var(--gray-5);
	--surface-3: var(--gray-7);
	--surface-4: var(--gray-9);
}

:root[data-theme='dark'] {
	--brand: var(--blue-4);

	--text-1: var(--gray-2);
	--text-2: var(--gray-5);
	--text-3: var(--gray-9);

	--surface-1: var(--gray-9);
	--surface-2: var(--gray-7);
	--surface-3: var(--gray-5);
	--surface-4: var(--gray-3);
}

input[type='text'] {
	padding: 0.5rem;
}

button {
	border: none;
	background-color: var(--surface-4);
	color: var(--text-3);
	font-weight: 300;
	text-shadow: none;
	padding: 0.5rem;
}

button:active {
	box-shadow: inset 0.5rem var(--surface-1);
	background-color: var(--surface-1);
	color: var(--text-1);
}
